<% if island.photos.attached? %>
<!-- Bootstrap Carousel -->
    <div id="carousel-<%= island.id %>" class="carousel slide carousel-map" data-bs-ride="carousel">
      <!-- Carousel Items -->
      <div class="carousel-inner">
        <% island.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= cl_image_tag photo.key,  alt: "Island Photo #{index + 1}" %>
          </div>
        <% end %>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= island.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= island.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <div>
    <span style="color: #888; font-size: 14px;">No Image Available</span>
    </div>
<% end %>

<div class="pop-up-content">
  <div class="pop-up-row">
  <h6><%= island.name %></h6>
  <h6><%= island.average_rating %></h6>
</div>

<p><%= island.description %></p>

<div class="pop-up-row">
  <p>$<%= island.price %>/day</p>
</div>

</div>
