<h1>Manage Your Islands</h1>

<% if @my_islands.any?%>
  <h2>Your islands</h2>
    <ul>
      <% @my_islands.each do |island| %>
        <li>
          <h3><%= island.name %></h3>
          <p>Description: <%= island.description %></p>
          <p>Price: $<%= island.price %> per day</p>
          <p>Location: <%= island.location %></p>
          <p>Rating: <%= island.average_rating %>/5</p>
          <p>Capacity: <%= island.capacity %></p>
          <% if island.images.attached? %>
            <div class= "island-images">
              <% island.images.each do |image| %>
              <%= image_tag image, class: "island-image", style: "max-width: 200px; margin: 10px;" %>
            <% end %>
          </div>
        <% end %>

          <%= button_to "Delete", island_path(island), method: :delete, data: { confirm: "Are you sure you want to delete this island?"}, class: "btn btn-danger"%>
        </li>
      <% end %>
    </ul>
<% else %>
  <p>You have not created any islands yet.</p>
<% end %>





<h3>Create a New Island</h3>

<%= simple_form_for(@island) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :location %>

  <%= f.input :images, as: :file, input_html: { multiple: true } %>

  <%= f.submit %>
<% end %>
