<div class="container mb-5">
  <h1 class="my-3"><i class="fa-solid fa-umbrella-beach" style="color: #59a457;"></i> <%= @island.name %></h1>
  <p>
    <% @island.average_rating.floor.times do %>
      <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
    <% end %>
    <% (5 - @island.average_rating.floor).times do %>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
    <% end %>
    <%= @island.average_rating %>/5
  </p>
  <div class="card-trip pb-3">
    <% if @island.photos.attached? %>
        <%= cl_image_tag @island.photos.first.key %>
    <% else %>
          <div style="width: 400px; height: 300px; border: 1px dashed #ccc; display: flex; align-items: center; justify-content: center; background-color: #f9f9f9;">
          <span style="color: #888; font-size: 14px;">No Image Available</span>
          </div>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h6> <%= @island.description %></h6>
        <h6><i class=“fa-solid fa-bed”></i> <%= @island.capacity %> guests</p>
      </div>
      <h2 class="card-trip-pricing">$<%= @island.price %> <span class="fw-normal">night</span></h2>
    </div>
  </div>

  <div class="row mt-3 border-top py-3">
    <div class="col-lg-8">
      <div class="rounded" style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="col-lg-4 form">
      <%= simple_form_for [@island, @booking] do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :start_date, required: true,
                                    as: :string,
                                    input_html: { data: { controller: "datepicker" } } %>
          </div>
          <div class="col-md-6">
            <%= f.input :end_date, required: true,
                                    as: :string,
                                   input_html: { data: { controller: "datepicker" } } %>
          </div>
        </div>
        <%= f.input :guest_number, required: true %>
        <%= f.button :submit, "Book now", class: "btn btn-primary w-100", input_html: { data: { controller: "availability_toggle" } } %>
      <% end %>
    </div>
  </div>
  <div class="row border-top py-3">
  <h2>Reviews</h2>
  <% @island.reviews.each_slice(2) do |reviews| %>
    <div class="row">
      <% reviews.each do |review| %>
        <div class="col-lg-6">
          <%= render "/reviews/show_review", review: review %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
