<h1>Island Details</h1>

<h3><%= @island.name %></h3>
<p>Description: <%= @island.description %></p>
<p>Price: $<%= @island.price %> per day</p>
<p>Location: <%= @island.location %></p>
<p>Rating: <%= @island.average_rating %>/5</p>
<p>Capacity: <%= @island.capacity %></p>
<%= link_to "Book now", new_island_booking_path(@island), class: "btn btn-primary"%>

<div class="mt-4">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
