<div class="container mb-5">

  <h1 class="my-3"><i class="fa-solid fa-umbrella-beach" style="color: #59a457;"></i> <%= @island.name %></h1>
  <p>
    <% @island.average_rating.floor.times do %>
      <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
    <% end %>
    <% (5 - @island.average_rating.floor).times do %>
      <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
    <% end %>
    <%= @island.average_rating %>/5
  </p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <% if @island.photos.attached? %>
        <%= cl_image_tag @island.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% else %>
          <div style="width: 400px; height: 300px; border: 1px dashed #ccc; display: flex; align-items: center; justify-content: center; background-color: #f9f9f9;">
          <span style="color: #888; font-size: 14px;">No Image Available</span>
          </div>
      <% end %>
      <p>Description: <%= @island.description %></p>
      <p>Price: $<%= @island.price %> per day</p>
      <p>Location: <%= @island.location %></p>
      <p>Capacity: <%= @island.capacity %></p>
      <% @island.reviews.each do |review| %>
        <%= render "/reviews/show_review", review: review %>
      <% end %>
    </div>
    <div class="col">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= simple_form_for [@island, @booking] do |f| %>
  <%= f.input :start_date, required: true,
                            as: :string,
                            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date, required: true,
                            as: :string,
                            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :guest_number, required: true %>
  <%= f.button :submit, "Book now", class: "btn btn-primary" %>
<% end %>
</div>
