<h1>Island Details</h1>

<h3><%= @island.name %></h3>
<p>Description: <%= @island.description %></p>
<p>Price: $<%= @island.price %> per day</p>
<p>Location: <%= @island.location %></p>
<p>Rating: <%= @island.average_rating %>/5</p>
<p>Capacity: <%= @island.capacity %></p>
<%= link_to "Book now", new_island_booking_path(@island), class: "btn btn-primary"%>
