<h1>Island Details</h1>

<p><%= @island.name  %></p>
<p><%= @island.description  %></p>
<p><%= @island.capacity  %></p>
<p><%= @island.price  %></p>
<p><%= @island.location  %></p>
<p><%= @island.average_rating  %></p>
