<h1>Island Details</h1>

<p><%= @island.name  %></p>
<p><%= @island.description  %></p>
<p><%= @island.capacity  %></p>
<p><%= @island.price  %></p>
<p><%= @island.location  %></p>
<p><%= @island.average_rating  %></p>
<%= link_to "Book now", new_island_booking_path(@island), class: "btn btn-primary"%>

<div class="mt-4">
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
